### Project specific files
config/*
!config/application.properties.EXAMPLE
!config/application-docker.properties
logs/
.env
docker-compose-dev.yml
docker-compose-debug.yml

HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**

### DOCKER ###
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### JPA Buddy ###
.jpb

# cypress example files
**/cypress/e2e/examples/

# Transpiled Jest tests
/src/main/webapp/__tests__/**.test.js
/backend/bin
